.overlay .product {
    min-width: 350px;
    max-width: 60%;
    margin-inline: auto;
    background: rgb(220, 219, 219);
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.overlay .product .close-btn {
    display: none;
}

.overlay .product img {
    border-radius: 15px 15px 0 0;
    height: 350px;
    display: block;
    margin: 0 auto;
}

.overlay .product h3,
.overlay .product p,
.overlay .product b {
    margin: 10px 20px;
    color: #333;
}

.overlay .product p {
    max-height: 100px;
    overflow: auto;
}

.overlay .product b {
    font-weight: 600;
    position: absolute;
    height: 35px;
    margin: 0;
    margin-left: 20px;
    line-height: 35px;
    bottom: 10px;
}



.overlay .product h3 {
    height: 8%;
    overflow: hidden;
    letter-spacing: -1px;
}

.overlay .product section {
    margin-inline: 20px;
}

.overlay .product .count {
    margin-bottom: 50px;
    font-weight: 600;
}

.overlay .product .count,
.overlay .product .countControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay .product .countControl span {
    display: inline-block;
    margin-inline: 20px;
}

.overlay .product b {
    color: rgb(82, 164, 0);
}

.overlay button {
    background: rgb(64 158 197);
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: all 500ms ease;
}

.overlay .countBtn:hover {
    width: 45px;
}

.overlay .countBtn:active {
    background: rgb(40, 98, 123);
}

.overlay .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: rgb(82, 164, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 40% 50%);
    width: 60px;
    border-radius: 10%;
}

.overlay .add-to-cart svg {
    margin-left: 13px;
    transform: scale(1.2);
}

.overlay .add-to-cart:hover {
    width: 100px;
}

.overlay .add-to-cart:active {
    background: rgb(99, 197, 0);
}

@media (width < 1150px) {
    .overlay .product {
        min-width: 1px;
        max-width: 100%;
        max-height: 100%;
    }

    .overlay .product .close-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 45px;
        height: 45px;
        border-radius: 15px;
        border: 1px solid black;
        background: rgb(192, 17, 17);
        color: white;
    }


    .overlay .countBtn:hover {
        width: 35px;
    }

    .overlay .countBtn:active {
        background: rgb(137, 12, 12);
    }

    .overlay .add-to-cart:hover {
        width: 60px;
    }
}

@media (height < 650px) {
    .overlay .product {
        min-width: 1px;
        max-width: 90vw;
        max-height: 90vh;
    }

    .overlay .product img {
        height: 300px;
    }
}