main .products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    width: 100%;
}

@media (width < 1150px) {
    main .products-container {
        grid-template-columns: 1fr;
    }
}