.products-container .product {
    min-width: 350px;
    max-width: 30%;


    margin-bottom: 50px;
    background: rgb(220, 219, 219);
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

.products-container .product img {
    border-radius: 15px 15px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
    height: 350px;
    display: block;
    margin: 0 auto;
}

.products-container .product img:hover {
    transform: scale(1.05);
}

.products-container .product h3,
.products-container .product p,
.products-container .product b {
    margin: 10px 20px;
    color: #333;
}

.products-container .product b {
    font-weight: 600;
    position: absolute;
    height: 35px;
    margin: 0;
    margin-left: 20px;
    line-height: 35px;
    bottom: 10px;
}

.products-container .product p {
    height: 59px;
    max-height: 59px;
}

.products-container .product h3 {
    height: 8%;
    overflow: hidden;
    letter-spacing: -1px;
}

.products-container .product h3.not-aviable {
    box-sizing: border-box;
    margin-block: 0;
    width: 80%;
    margin-inline: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(145, 25, 25);
    color: #fff;
    border-radius: 15px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.products-container .product section {
    margin-inline: 20px;
}

.products-container .product .count {
    margin-bottom: 50px;
    font-weight: 600;
}

.products-container .product .count,
.products-container .product .countControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-container .product .countControl span {
    display: inline-block;
    margin-inline: 20px;
}

.products-container .product b {
    color: rgb(82, 164, 0);
}

.products-container button {
    background: rgb(64 158 197);
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: all 500ms ease;
}

.products-container .countBtn:hover {
    width: 45px;
}

.products-container .countBtn:active {
    background: rgb(38, 92, 115);
}

.products-container .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 10px;
    background: rgb(82, 164, 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 40% 50%);
    width: 60px;
    border-radius: 10%;
}

.products-container .add-to-cart svg {
    margin-left: 13px;
    transform: scale(1.2);
}

.products-container .add-to-cart:hover {
    width: 100px;
}

.products-container .add-to-cart:active {
    background: rgb(99, 197, 0);
}

@media (width < 1150px) {

    .products-container .product .count,
    .products-container .add-to-cart {
        display: none;
    }

    .products-container .product {
        width: 100%;
        max-width: 100%;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        padding-bottom: 0;
        display: flex;
        margin-bottom: 12px;
    }

    .products-container .product img {
        border-radius: 15px;
        transition: transform 500ms ease;
        cursor: pointer;
        height: 100px;
        display: block;
        margin: 0;
        z-index: 10;
    }

    .products-container .product img:hover {
        transform: none;
    }

    .products-container .product b {
        font-weight: 600;
        position: absolute;
        height: 20px;
        margin: 0;
        line-height: 35px;
        bottom: 12px;
        right: 20px;
        color: rgb(82, 164, 0);
    }

    .products-container .product h3 {
        height: 100px;
        box-sizing: border-box;
        overflow: hidden;
        letter-spacing: -1px;
        line-height: 1;
        margin-block: 0;
        padding-top: 10px;
    }

    .products-container .product h3.not-aviable {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        padding-left: 100px;
        width: 100%;
        position: absolute;
        display: block;
        background: rgb(145, 25, 25);
        color: #fff;
        border-radius: 15px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        line-height: 100px;
        text-align: center;
        transform: none;
    }

    .products-container .product p {
        display: none;
    }

    .products-container .product section {
        margin-inline: 20px;
    }
}