@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(232, 232, 232);
  color: rgb(13, 13, 13);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
}

button {
  border: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-size: 40px;
  display: inline-block;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.wrapper {
  margin-inline: auto;
  max-width: 1100px;
  box-sizing: border-box;
  padding: 3vh 15px;
  padding-bottom: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes cart-modal-appearance {
  15% {
    transform: translateX(0%);
  }

  70% {
    transform: translateX(0%);
  }

  90% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.wrapper .add-to-cart-modal {
  position: fixed;
  top: 5px;
  left: 0;
  transform: translateX(-100%);
  padding: 15px;
  background: rgb(82, 164, 0);
  color: #fff;
  z-index: 1000;
  font-size: 30px;
  font-weight: 600;
  animation: cart-modal-appearance 1.8s ease;
}

header {
  position: relative;
  margin-bottom: 20px;
}

header>section {
  padding-inline: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header>section h1 {
  cursor: pointer;
  transition: all 700ms linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
}

header>section h1.logo:hover {
  letter-spacing: 5px;
}

header .menu {
  display: flex;
  align-items: center;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  font-size: 19px;
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: all 500ms ease;
}

header ul.nav li:hover {
  opacity: 0.5;
  letter-spacing: 1px;
  font-size: 20px;
}

header .shop-cart-button {
  transform: scale(1.7);
  margin-right: 10px;
  cursor: pointer;
  transition: all 500ms ease;
}

header .shop-cart-button:hover,
.shop-cart-button.active {
  color: rgb(137, 12, 12);
  transform: scale(2.1);
}

header .shop-cart {
  position: absolute;
  top: 50px;
  right: 0;
  min-width: 600px;
  max-width: 900px;
  background: rgb(230, 230, 230);
  -webkit-box-shadow: 4px 6px 14px 5px #3c3c3c;
  box-shadow: 4px 6px 14px 5px #3c3c3c;
  z-index: 1000;
  animation: appearance 500ms;
  padding: 20px;
  padding-bottom: 0;
}

header .shop-cart .empty {
  font-size: 20px;
  margin-bottom: 20px;
}


header .banner {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: url(/public/img/workPlace.png) no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: rgb(93, 93, 93);
  position: relative;
  padding-left: 10%;
}

header .banner h2 {
  font-weight: 600;
  font-size: 50px;
  color: rgb(227, 227, 227);
  line-height: 1;
  margin-bottom: 50px;
}

header .banner li {
  font-size: 25px;
  color: rgb(227, 227, 227);
  line-height: 0.5;
  margin-bottom: 25px;
  list-style-position: inside;
}

header .mini-banner {
  background: rgb(201, 201, 201);
  padding-block: 10px;
}

header .mini-banner h2 {
  cursor: auto;
}


main h2 {
  margin-bottom: 8px;
}

main .popular-products-title p {
  font-size: 20px;
  margin-bottom: 20px;
}

main .about {
  margin-bottom: 20px;
}

main .about p {
  margin-bottom: 15px;
}

main .about p,
main .about ul li {
  font-size: 19px;
  list-style-position: inside;
}

main .about ul li {
  margin-bottom: 10px;
}

main .about ul {
  margin-bottom: 15px;
}

main .contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main .contacts h2 {
  margin-bottom: 11px;
}

main .contacts p {
  margin-bottom: 8px;
}

main .contacts .map {
  border: 2px solid black;
}

footer {
  box-sizing: border-box;
  background: rgb(201, 201, 201);
  padding: 10px 3%;
  overflow: hidden;
}

footer section {
  display: flex;
  justify-content: space-between;
}

footer .shop-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 65%;
}

footer .contacts {
  display: inline-block;
  max-width: 35%;
}

footer ul.media {
  display: flex;
  justify-content: space-between;
}

footer ul.media li {
  display: inline;
}

footer ul.media li img {
  width: 50px;
}

@media (width < 1100px) {}